
    <div class="col-12 col-md-3 fotofoter">
        <img src="https://cdn.pixabay.com/photo/2016/06/12/10/44/aloe-vera-1451802_1280.png"  alt="foto" class=" w-100 "/>

    </div>
    <div class="col bg-success  text-white">
        <div class="row ">
            <h2>CONTACTO: </h2>
            <div class="col-12 col-md-3">  
                <li class="list-group-item"> TELEFONO : <span>31450516951</span></li>         
            </div> 
            <div class="col-12 col-md-4">
                <li class="list-group-item"> CORREO: <span>elHerbario@elherbario.com</span></li>    
            </div>
            <div class="col-12 col-md-2">
                <li class="list-group-item"> DIRECCION: <span>Cl 54 57 19</span></li>
            </div>
                
        </div>
    </div>
    <div class="col cmapa">
        <div>
            <iframe width="500" height="250" frameborder="0" src="https://www.bing.com/maps/embed?h=250&w=500&cp=6.256698039181558~-75.57417869567871&lvl=17&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
            </iframe>
       </div>
        
    </div>

    
    

